data/
assignment4/SSD/datasets
assignment4/SSD/dumps
assignment4/SSD/demo/*/result/
.nfs*
.vscode
*.png
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pyg
*.synctex.gz
mnist_detection/
outputs/
original_mnist/
